<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}">

    <!-- Mobile Specific Metas
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
         –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {% style "css/skeleton.css" %}
  </head>
  <body>
    <div class="container">

          <a href="{{index-uri}}"><h3>{{title}}</h3></a>
      <!-- Nav-Column
           –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class="row">
        <div class="three columns" style="margin-top: 25%">
          <a class="button button-primary" href="{{index-uri}}"> Home </a>
          <a class="button button-primary" href="{{archives-uri}}"> Archives </a>
          <a class="button button-primary" href="{{rss-uri}}"> RSS </a>
        </div>

        <!-- Primary Page Layout
             –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="nine columns" style="margin-top: 25%">
                {% block content %}
                {% endblock %}
          <!-- Footer
               –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <footer style="text-align: center;">Copyright &copy; {{today|date:yyyy}} {{author}}
            <p style="text-align: center;">Powered by <a href="http://cryogenweb.org">Cryogen</a></p>
            <p style="text-align: center;">Style based on <a href="http://getskeleton.com/">Skeleton</a></p>
          </footer>
        </div>
      </div>
    </div>
  </body>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  {% script "js/highlight.pack.js" %}
  <script>hljs.initHighlightingOnLoad();</script>
  {% if post.klipse %} {{post.klipse|safe}} {% endif %}
  {% if page.klipse %} {{page.klipse|safe}} {% endif %}
</body>
</html>
